<style>

    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {
        /* For mobile phones: */
        /*   [class*="col-"] {
            width: 100%;
            margin: 5px;
        }*/

        .BtnWidth {
            width: 100%;
            margin: 4px;
        }

        #navigationUrlHide {
            display: none;
        }
    }

    .BtnWidth {
        width: 100%;
       
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb" id="navigationUrlHide">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Power Up</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Customer Care</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Charging Port Error</a></li>
                    <!--<li class="breadcrumb-item active">Battery Status</li>-->
                </ol>
            </div>
            <h4 class="page-title">Charging Port Error</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->
<div class="col-lg-12">

    <div class="card">
        <div class="card-body">


            <div class="table-responsive">
                <table class="table table-bordered mb-0 table-centered">
                    <thead>
                        <tr>
                            <th class="text-center">S/N</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Station Name</th>

                            <th class="text-center">Port</th>
                            <th class="text-center">Error Detail</th>
                            <!--<th class="text-center">Error Type</th>-->
                            <th class="text-center" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aLockerError in LockerErrorList track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center">{{aLockerError.LocationName}}</td>
                            <td class="text-center">{{aLockerError.StationName}}</td>
                            <td class="text-center">{{aLockerError.PortName}}</td>
                            <td class="text-center">{{aLockerError.ErrorDetail}}</td>
                            <!--<td class="text-center">
        <span class="badge badge-soft-success" ng-if="aLockerError.Status == true">Fine</span>
        <span class="badge badge-soft-danger" ng-if="aLockerError.Status == false">Error</span>
    </td>-->
                            <!--<td class="text-center" style="border-right:hidden;">
            <button class="btn btn-secondary BtnWidth"   ng-click="">Detail</button>
    </td>-->
                            <td class="text-center">
                                <button class="btn btn-primary BtnWidth" ng-click="">Fix</button>
                            </td>
                        </tr>
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div> <!-- end col -->
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Enter Reject Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <!--<div class="col-md-2">

                        </div>-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <!--<label for="Location">Reject Reason</label>-->
                                <textarea type="text" class="form-control" rows="3" id="Reason" required=""></textarea>
                            </div>
                        </div>
                        <!--<div class="col-md-2">

                        </div>-->
                    </div>
                    <div class="row" style="float:right">
                        <button type="button" class="btn btn-success" style="margin-right:10px" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-sm btn-gradient-danger" style="margin-right:10px" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
