<style>
    .btnPort {
        width: 100%;
        height: 50%;
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
      
      
    }

        .btnPort h6 {
            /*font-weight: bold;*/
            margin-top: 5px;
            line-height: 2px;
        }



    @media only screen and (min-device-width : 200px) and (max-device-width : 768px) {

        .btnPort {
            width: 100%;
            height: 18%;
            margin: 5px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
        }

        #navigationUrlHide {
            display: none;
        }
    }
</style>


<link href="../Content/assets/plugins/treeview/themes/default/style.css" rel="stylesheet">
<link href="../Content/assets/plugins/treeview/file-explore.css" rel="stylesheet">

<link href="../Content/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="../Content/assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/timepicker/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="../Content/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />


<!-- App css -->
<link href="../Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/style.css" rel="stylesheet" type="text/css" />

<!-- For SignalR Start -->
<!-- JQuery Used From spa Bundle Version 3.4.1 -->
<!--<script src="../../../Scripts/jquery-2.2.3.min.js"></script>-->
<script src="../../../Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="/signalr/hubs"></script>
<!-- For SignalR End -->

<form name="PosDashboardForm" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb" id="navigationUrlHide">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Power Up</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">User</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Battery Status</a></li>
                        <!--<li class="breadcrumb-item active">Battery Status</li>-->
                    </ol>
                </div>
                <h4 class="page-title">Battery Status</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <div class="row">

        <div class="col-lg-12">


            <div class="card">

                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

                            <div class="row" style="padding:5px">
                                <div class="table-responsive">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: left;" ng-repeat="aBattary in BattaryList">
                                        <button class="btn btn-{{aBattary.Color}} btnPort" ng-click="PortDetail(aBattary);">
                                            <table>
                                                <tr>
                                                    <td><h6>{{aBattary.LocationName}}</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>{{aBattary.SwapStation}}</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>{{aBattary.PortName}}</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>{{aBattary.BatteryName}}</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>{{aBattary.Status}}</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>Charging :{{aBattary.Charge}}%</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>{{aBattary.Voltage}}V</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>{{aBattary.Amp}}Amp</h6></td>
                                                </tr>
                                                <tr>
                                                    <td><h6>Sync Time: {{aBattary.SyncTime}}</h6></td>
                                                </tr>
                                            </table>
                                        </button>
                                      
                                        <!--<button class="btn btn-{{aBattary.Color}} btnPort" ng-click="PortDetail(aBattary);"><p>{{aBattary.LocationName}}</p> <p>{{aBattary.SwapStation}}</p><p>{{aBattary.PortName}}</p><p>{{aBattary.BatteryName}}</p> <p>{{aBattary.Status}}</p> <p> Charging :{{aBattary.Charge}}%</p><p>Time: {{aBattary.SyncTime}}</p></button>-->
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->

    </div>
    <!--<div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style="padding:10px">
                        <div class="table-responsive">
                            <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3" style="float: left;" ng-repeat="aBattary in BattaryList">
                                <button class="btn btn-{{aBattary.Color}} btnPort" ng-click="PortDetail(aBattary);"><p>{{aBattary.BattaryName}}</p> <p>{{aBattary.LocationName}}</p> <p>{{aBattary.PortName}}</p> <p>{{aBattary.Status}}</p> <p>Charging: {{aBattary.Charge}}% {{aBattary.Voltage}}V {{aBattary.Amp}}mA</p></button>
                            </div>
                        </div>-->
    <!--end /tableresponsive-->
    <!--<br />
    </div>-->
    <!--<div class="card">
        <div class="card-body">

            <div class="row" style="margin-left:45px;" id="CardItemMedia">
                <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 btnPort"   ng-repeat="aBattary in BattaryList" style="width: 100%; float: left;">
                    <p>{{aBattary.BattaryName}}</p> <p>{{aBattary.LocationName}}</p> <p>{{aBattary.PortName}}</p> <p>{{aBattary.Status}}</p> <p>Charging: {{aBattary.Charge}}% {{aBattary.Voltage}}V {{aBattary.Amp}}mA</p>
                </div>

            </div>
        </div>
    </div>-->
    <!--</div>
            </div>
        </div>
    </div>-->
    <!--<div class="row">
        <div class="col-lg-12"  >
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2" ng-repeat="aBattary in BattaryList" style="background-color: #33ccff; margin: 10px;width:100%">
                            <p style="text-align:center;">{{aBattary.BattaryName}}</p>
                            <p style="text-align:center;">{{aBattary.LocationName}}</p>
                            <p style="text-align:center;">{{aBattary.PortName}}</p>
                            <p style="text-align:center;">{{aBattary.Status}}</p>
                            <p style="text-align: center;">Charging: {{aBattary.Charge}}% {{aBattary.Voltage}}V {{aBattary.Amp}}mA</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>-->


</form>

<!--<script src="../Content/assets/js/jquery.min.js"></script>-->
<script src="../Content/assets/js/bootstrap.bundle.min.js"></script>
<script src="../Content/assets/js/metisMenu.min.js"></script>
<script src="../Content/assets/js/waves.min.js"></script>
<script src="../Content/assets/js/jquery.slimscroll.min.js"></script>

<!-- Plugins js -->
<script src="../Content/assets/plugins/select2/select2.min.js"></script>
<script src="../Content/assets/plugins/moment/moment.js"></script>
<script src="../Content/assets/plugins/daterangepicker/daterangepicker.js"></script>
<!--<script src="../Content/assets/plugins/select2/select2.min.js"></script>-->
<script src="../Content/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="../Content/assets/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
<script src="../Content/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="../Content/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

<script src="../Content/assets/pages/jquery.forms-advanced.js"></script>


<script src="../Content/assets/plugins/treeview/jstree.min.js"></script>
<script src="../Content/assets/plugins/treeview/file-explore.js"></script>
<script src="../Content/assets/pages/jquery.treeview.init.js"></script>