<style>
    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {

        #navigationUrlHide {
            display: none;
        }

        .BtnWidth {
            width: 100%;
          
        }

        .DivMargin {
            margin-top: 5px;
        }
    }
</style>
<form name="LockerManagementForm">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb" id="navigationUrlHide">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Power Up</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Add Location Setup</a></li>

                    </ol>
                </div>
                <h4 class="page-title">Add Location Setup</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills mb-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#/AddLocationSetup" data-toggle="pill">Add Location Setup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/AddSwapStation" data-toggle="pill">Add Swap Station</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/AddChargingUnit" data-toggle="pill">Add Charging Unit</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/BatterySetup" data-toggle="pill">Battery Setup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="page-title">Add Location Setup</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" id="Location" name="Location" class="form-control" ng-model="Location.LocationName" placeholder="Location">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" id="City" name="City" class="form-control" ng-model="Location.City" placeholder="City">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" id="State" name="State" class="form-control" ng-model="Location.State" placeholder="State/Area">
                            </div>
                        </div>


                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" id="ZipCode" name="ZipCode" class="form-control" ng-model="Location.ZipCode" placeholder="Zip Code">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" id="Country" name="Country" class="form-control" ng-model="Location.Country" placeholder="Country">
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-6 col-xs-6 col-sm-6 col-md-2 col-lg-2">
                            <div class="row">
                                <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button class="btn btn-success" style="padding:5px;" ng-click="Save()"> Save</button>
                                </div>
                                <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button class="btn btn-danger" style="padding:5px;" ng-click="Reset()"> Reset</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-xs-6 col-sm-6 col-md-2 col-lg-2">
                            <button class="btn btn-Info" style="padding:5px;" ng-click="FillData();"> Fill In Box</button>
                        </div>

                    </div>

                    <br />
                    <hr />
                    <h3 class="mt-0 header-title mdi mdi-format-list-bulleted"> Location List</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 DivMargin">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-gradient-primary"><i class="fas fa-calendar"></i></button>
                                </span>
                                <input type="text" id="date-start" name="example-input1-group2" class="form-control" placeholder="Form Date" readonly>
                            </div>
                        </div>
                        <div class="col-md-3 DivMargin">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-gradient-primary"><i class="fas fa-calendar"></i></button>
                                </span>
                                <input type="text" id="date-end" name="example-input1-group2" class="form-control" placeholder="To Date" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 DivMargin">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-gradient-primary"><i class="fas fa-search"></i></button>
                                </span>
                                <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-md-2 DivMargin ">
                            <button class="btn btn-danger BtnWidth" style="width:100%">Clear</button>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0 table-centered">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th class="text-center">Location</th>
                                    <th class="text-center">City</th>
                                    <th class="text-center">State</th>
                                    <th class="text-center">Zip Code</th>
                                    <th class="text-center">Country</th>
                                    <th class="text-center" colspan="3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="aLocation in LocationList track by aLocation.LocationId">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{aLocation.LocationName}}</td>
                                    <td class="text-center">{{aLocation.City}}</td>
                                    <td class="text-center">{{aLocation.State}}</td>
                                    <td class="text-center">{{aLocation.ZipCode}}</td>
                                    <td class="text-center">{{aLocation.Country}}</td>
                                    <td class="text-center" style="border-right: hidden">
                                        <button class="btn btn-success" ng-click="Sel()"> <i class="fa fa-edit"></i>Edit</button>
                                    </td>
                                    <td class="text-center" style="border-right:hidden">
                                        <button class="btn btn-danger" ng-click="Del()"><i class="fa fa-trash"></i> Delete</button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary" ng-click="Rpt()"><i class="fa fa-print"></i> Report</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table><!--end /table-->
                    </div><!--end /tableresponsive-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->

</form>
